



<div class="head-page" *ngIf="identity">
	<div class="col-lg-3">
		<h1>{{titulo}}</h1>
		<a [routerLink]="['/createField']"  *ngIf="identity && identity.role =='ROLE_ADMIN'"  class="btn btn-default">Agregar Complejo</a>
	</div>
	 
	
	
	<div class="Distritos form-group col-lg-5 ">
		<select name="Distritos" class="form-control" >
			<option value="Mariano Melgar">Mariano Melgar</option>
			<option value="Cercado">Cercado</option>
			<option value="Jacobo Hunter">Jacobo Hunter</option>
			<option value="Jose Luis Bustamante y Rivero">Jose Luis Bustamante y Rivero</option>
			<option value="Miraflores">Miraflores</option>
		</select>	
		<br>
		<div class=" btn btn-primary">
		<a [routerLink]="['/']" style="color: white; text-decoration: none;" > Buscar </a>
	</div>
	</div>

 
	<ul class="pagination pull-right col-lg-3" style="font-size: 30px;">

		<li>
		<a [routerLink]="['/fields',prevpage]">&laquo;</a>
		</li>

		<li>
		<a [routerLink]="['/fields',nextpage]">&raquo;</a>
		</li>

	</ul>

</div>
<br>
<!-- <a href="#" class="flotante"> <i class="fa fa-facebook col-lg-2">   </i> </a>
 --><!-- <div class="col-lg-7">
	<select name="Distritos" class="form-control" >
		<option value="Mariano Melgar">Mariano Melgar</option>
		<option value="Cercado">Cercado</option>
		<option value="Jacobo Hunter">Jacobo Hunter</option>
		<option value="Jose Luis Bustamante y Rivero">Jose Luis Bustamante y Rivero</option>
		<option value="Miraflores">Miraflores</option>
	</select>	
</div>

<div class="col-lg-1 btn btn-primary">
	<a [routerLink]="['/']" style="color: white; text-decoration: none;" > Buscar </a>
</div> -->

<div class="clearfix"></div>

<ul class="field-list col-lg-12" *ngIf="identity">
		<li *ngFor="let field of fields" class="col-lg-3 col-md-5  col-sm-6 field-item">
		<div class="field-image">
			<a [routerLink]="['/field',field._id]"><img src="{{ url +'/get-image-Field/'+field.image }}"></a>
		</div>
			<div class="field-name col-lg-12">
				<div class="col-lg-3">
					<a class="btn btn-primary" [routerLink]="['/field',field._id]">
					{{field.name}}
				</a>
				</div>

				<div class="boton " *ngIf="identity.role == 'ROLE_ADMIN'">
				<br>
				<br>
					<a [routerLink]="['/edit-field',field._id]" class="btn btn-sm btn-warning" > Editar</a>
					<a (click) = "OnDeleteOk(field._id)" class="btn btn-sm btn-danger" > <i class="fa fa-trash-o" aria-hidden="true"></i>  Borrar</a>
				</div>
				

			</div>
		</li>
</ul>

<div class="clearfix"></div> 
<ul class="pagination pull-right   visible-xs visible-sm" style="font-size: 30px;">

		<li>
		<a [routerLink]="['/fields',prevpage]">&laquo;</a>
		</li>

		<li>
		<a [routerLink]="['/fields',nextpage]">&raquo;</a>
		</li>

	</ul>