<div *ngIf="identity"  style="background: #212020;">

<nav class="navbar navbar-inverse"  >

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"  [routerLink]="['/']"><i class="fa fa-bolt" aria-hidden="true"></i>
{{identity.name}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" >
       
        <li><a [routerLink]="['/fields',1]" [routerLinkActive]="['actived']">
			<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
			Complejos
		</a></li>
        <li >  <a [routerLink]="['/']" >
			<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
			Eventos
		</a></li>
        <li class="dropdown">
        

		<a [routerLink]="['/']" >
			<i class="fa fa-shopping-cart" aria-hidden="true"></i>
			Tienda
		</a>
        </li>
        <li><a [routerLink]="['/noticias',1]" [routerLinkActive]="['actived']" >
			<span class="glyphicon glyphicon-education" aria-hidden="true"></span>
			Noticias
		</a></li>
 
      </ul>
      <ul class="nav navbar-nav navbar-fixed">

      	<li style="color:white;"><P style="font-size: 20px; margin-top: 13px;font-style:'arial';">PELOTUDOZ</P></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      	 
        <li><a [routerLink]="['/mis-datos']" [routerLinkActive]="['actived']" >
			<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
			Mis datos
		</a></li>
        <li class="dropdown">
          <a  (click)="logout()" class="btn-logout">
			<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
			Salir
		</a>	
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>

<div [class.hidden]="!identity" class="'navigation col-lg-9	">
	<router-outlet></router-outlet>
	
</div>	

 







 
<div class="col-lg-6">
	
</div>
<div class="col-lg-6"  *ngIf="!identity" >
	<div class="btn-group col-lg-offset-6 botones">
		<button class="btn btn-primary " (click)="onInscribe()" [class.showingData]= "inscribe == true">Iniciar Sesion</button>
		<button class="btn btn-primary " (click)="onRegister()" [class.showingData]= "registre == true">Registrarse </button>
	</div>

	

	<div *ngIf="inscribe == true">
		<div class="col-lg-12">
			<h1>Identificate</h1>

			<div *ngIf="errorMessage">
				<div class="alert alert-info">
					<strong>Error!</strong> {{errorMessage}}
				</div>
			</div>

			<form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-8">
				<p>
					<label>Correo Electronico</label>
					<input type="email"  #email="ngModel" name="email" [(ngModel)]="user.email" class="form-control" placeholder="Ingrese su email" required>
					<span *ngIf="!email.valid && email.touched">El email es obligatorio</span>

				</p>

				<p>
					<label>Password</label>
					<input type="password" #password="ngModel" name="password" [(ngModel)]="user.password" class="form-control" placeholder="Ingrese su contraseña" required>
				</p>

				<input type="submit" class="btn btn-primary" value="Ingresar">
			</form>

		</div>
	</div>

	<div *ngIf="registre == true">
		<div class="col-lg-12">
			
			<h1>Registrate</h1>

			<div *ngIf="alertRegister">
				<div class="alert alert-info">
					{{alertRegister}}
				</div>
			</div>
			
			<form #registerForm="ngForm" (ngSubmit)="onSubmitRegister()"  class="col-md-8">

				<p>
					<label>Nombre</label>
					<input type="text" #name="ngModel" name="name" [(ngModel)]="user_register.name" class="form-control" placeholder="Ingrese sus nombres"  required>
					<span *ngIf="!name.valid && name.touched">El nombre es obligatorio</span>
				</p>

				<p>
					<label>Apellidos</label>
					<input type="text" #surname="ngModel" name="surname" [(ngModel)]="user_register.surname" class="form-control" placeholder="Ingrese sus apellidos"  required>
					<span *ngIf="!surname.valid && surname.touched">El apellido es obligatorio</span>
				</p>

				<p>
					<label>Correo Electronico</label>
					<input type="email" #email="ngModel" name="email" [(ngModel)]="user_register.email"  class="form-control" placeholder="Ingrese su email"  required>
					<span *ngIf="!email.valid && email.touched">El email es obligatorio</span>
				</p>

				<p>
					<label>Contraseña</label>
					<input type="password" #password="ngModel" name="password" [(ngModel)]="user_register.password"   class="form-control" placeholder="Ingrese su Contraseña"  required>
					<span *ngIf="!password.valid && password.touched">El password es obligatorio</span>
				</p>

				<p>
					<label>Fecha de Nacimiento</label>
					<input type="date" #birthday="ngModel" name="birthday" [(ngModel)]="user_register.birthday"  class="form-control" placeholder="Dia / Mes / Año"  required>
					<span *ngIf="!birthday.valid && birthday.touched">Cuando Naciste? </span>
				
				<p>
					<label>Telefono</label>
					<input type="text" #phone="ngModel" name="phone" [(ngModel)]="user_register.phone" class="form-control" placeholder="Telefono"  required>
					<span *ngIf="!phone.valid && phone.touched">El telefono es obligatorio</span>
				</p>
				
				<input type="submit" class="btn btn-primary" value="Registrarse">
			</form>
		</div>
	</div>
</div>


