html,body{
	margin: 0px;
	height: 100%;
	background: #CCC8C8;
	font-style:'arial';
} 
.actived{
	border-bottom: 4px solid #84BD00;
	padding-bottom: 4px; 
}
.head-tittle{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 25px;
	display: block;

}
.flotante {
    display:scroll;
        position:fixed;
        bottom:320px;
        right:0px;
}
.navigation{
	text-align: center;
	color:white;
	background: #1C1C1F;
	height: 100%;
}
.navigation a{

	color:#ddd;
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
	text-decoration: none;
 

}
.navigation a:hover{

	color:white;

}
.navigation .glyphicon{
	font-size: 25px;
	display: block;
	width: 100%;
}



#user_logged .glyphicon-log-out{
	font-size: 22px;
}
#user_logged{
	text-align:center;
	background: #1c1c1f;
	bottom: 0px;
	position: absolute;
	border-top: 2px solid #444;
	width: 75%;

}

.btn-logout{
	cursor:pointer;
}

.boton1,.boton2{
	margin-top: 44px;
}
.boton1{
	
	left: 220px;

}
 
.field-list{
	margin:0px;
	list-style: none;
	padding: 0px;
 


}


.field-list .field-item{
 
	margin-right: 50px;
	margin-bottom: 30px;
 
}

.field-list .field-image{
	
	overflow: hidden;
	background: black;

}
.field-list .field-image img{
	width: 100%;
}


.field-item .field-name{
	color: white;
	padding: 10px;
	background: #222326;


}

.foter a{

}

/*


.field-list{
	margin:0px;
	padding: 0px;
	margin-top: 30px;
	list-style: none;


}


.field-item{
	width: 23%;
	margin: 0px;
	padding: 0px;
	height: 317px;
	border: 1px solid #444;
	margin-left: 20px;
	margin-top: 20px;

}

.field-item .field-image{
	width: 100%;
	height: 245px;
	overflow: hidden;
	background: black;

	
}


.field-item .field-image img{
	width:100%;	
}

.field-item .field-name{
	color: white;
	padding: 10px;
	background: #222326;

}
.field-item .field-name a{
	color: white;
}


.noticia-list{
	margin:0px;
	padding: 0px;
	margin-top: 50px;
	list-style: none;


}

/
.noticia-item{
	width: 23%;
	margin: 0px;
	padding: 0px;
	height: 317px;
	border: 1px solid #444;
	margin-left: 20px;
	margin-top: 20px;

}

.noticia-item .noticia-image{
	width: 100%;
	height: 300px;
	overflow: hidden;
	background: black;

	
}


.noticia-item .noticia-image img{
	width:100%;	
}

.noticia-item .noticia-name{
	color: white;
	padding: 10px;
	background: #222326;

}
.noticia-item .noticia-name a{
	color: white;
}  */